@media (max-width: 768px){
  .navbar-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-nav{
    display: inline-block;
  }
  .navbar-default{
    padding:30px;
  }
  .navbar-nav>li>a,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    font-size: 4rem;
    line-height: 50px;
    padding:20px;
  }
  .navbar-toggle{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
  }
  .navbar-default .navbar-toggle .icon-bar{
    width: 30px;
    height: 5px;
    background-color: white;
  }
  .caret {
    border-top: 10px dashed;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: black;
  }
  @media only screen
  and (min-width : 768px)
  and (max-width : 1020px) {
    .navbar-header{
      float: none;
    }
    .navbar-right{
      display: inline-flex;
      justify-content: space-between;
      text-align: center;
    }
  }
