@media (max-width: 768px){
  header{
    height:auto;
  }
  .navbar-default{
    padding:10px;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form{
    border: transparent;
  }
  .navbar-brand {
   height: 50px;
   float: left;
  }

  .navbar-nav>li>a,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    font-size: 2rem;
    line-height: 50px;
    padding:20px;
  }

  .dropdown-menu>li>a{
    background-color:#e7e7e7;
  }
  .navbar-default .navbar-toggle{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color:	#006400;
    border-width: 2px;
  }
  .navbar-default .navbar-toggle .icon-bar{
    width: 30px;
    height: 5px;
    background-color:#F7F6AF;
  }
  .caret {
    border-top: 10px dashed;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: black;
  }
  @media only screen
  and (min-width : 768px)
  and (max-width : 1020px) {
    .navbar-header{
      float: none;
    }
    .navbar-right{
      display: inline-flex;
      justify-content: space-between;
      text-align: center;
    }
    header{
      height: 700px;
    }
    .navbar-default .navbar-toggle{
      display: none;
    }
    .navbar-header{
      float: left;
    }
  }
