body{
  font-size: 16px;
  font-family: georgia, serif;
}
/******Header****/
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color:black;
}
.navbar-default{
  background-color: transparent;
  border: none;
}
