body{
  font-size: 16px;
  font-family: georgia, serif;
}
/******Header****/
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-nav .open .dropdown-menu {
  color:black;
}
.navbar-default{
  padding: 30px;
}
.navbar-default{
  background-color: transparent;
  border: none;
}
.navbar-brand{
  font-size: 5rem;
}
