body{
  font-size: 16px;
  font-family: georgia, serif;
}
/*****Typo********/
.tangerine{
  font-family: 'Tangerine';
}
/******Header****/
header{
  background-image: url(../images/piatti.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-nav .open .dropdown-menu {
  color:#e7e7e7;
}
nav .navbar-nav .navbar-right a:visited{
  color: white;
}
.navbar-default .navbar-nav>.open>a{
  color: black;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color:black;
}
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-nav>li>a:visited,
.navbar-nav .open .dropdown-menu:visited{
  color:#e7e7e7;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: black;
  background-color:#F7F6AF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav .open .dropdown-menu:hover {
  color:#F7F6AF;
}
.navbar-default{
  padding: 30px;
}
.navbar-default{
  background-color: transparent;
  border: none;
}
.navbar-brand{
  font-size: 5rem;
}
.header-info{
  width: 100%;
  text-align: center;
}
.header-info h2{
  font-size: 10rem;
  color:	#FF7F50;
  text-shadow: 2px 2px 3px #006400;
}
